<% include ../partials/header %>
    <div id="main-chat-bg">
        <div class="container">
            <div class="columns">
                <div class="column">
                        
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>