<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <script src="/js/lib/jquery.js"></script>
    <link rel="stylesheet" href="/style/lib/bulma.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,500" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <nav class="navbar is-fixed-top" role="navigation">
        <div class="navbar-brand">
            <a class='navbar-item' href="/">Chat App</a>

            <button class="button navbar-burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
              </button>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <% if(currentUser) { %>
                <a href="/user/logout" class="navbar-item">Logout</a>                       
                <% }else { %>
                <a href="/user/signup" class="navbar-item">Sign Up</a>
                <a href="/user/signin" class="navbar-item">Sign In</a>
                <% } %>
            </div>
        </div>
    </nav>
    <script src="/js/navbar.js"></script>
